@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.background {
    background-color: #fffffff5;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.winnerDisplay {
    background-color: rgb(255, 255, 255);
    border-color: #000000;
    outline-color: #000000;
    border-radius: 1rem;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid rgb(0, 0, 0);
    margin-left: 0;
    padding-left: 0;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    border-radius: 0.3rem;
    user-select: none;
}

.playerX {
    color: #ff2600;
    font-weight: bold;
}

.playerO {
    color: #000000;
    font-weight: bold;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 0.5Rem;
    cursor: pointer;
}

.restart {
    background-color: #00328a;
}

#reset {
    background-color: #fd0033;
}


#reset:hover{
    background-color: white;
    color: black;
    border-color: black;
    outline-color: black;
}

.tile.highlight {
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: line-through;
}



